@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap');
#right-container {
   display: inline-block;
   position: relative;
   height: 50%;
   width: 50%;
   float: right;
   box-shadow: 0 0 1em 1em #ccc;
}

#left-container {
   display: inline-block;
   position: relative;
   height: 45%;
   width: 45%;
   float: left;
   box-shadow: 0 0 1em 1em #ccc;
}

.photo-style {
  text-align:center
}

body{
  background-image: url("facialRecPageBackground.png");
  background-color:#cccccc;
}

h1 {
  font-size: 24px;
  font-family: 'Lakki Reddy', cursive;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

.btn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: #ffffff;
  background-color: #2a6592;
}

/* old-school "down" effect on clic + color tweak */
.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

/* inverse colors on mouse-over */
.btn:hover {
  color: #2a6592;
  border-color: currentColor;
  background-color: white;
}

#wrapper {
display: flex;
align-items: center;
justify-content: center;
}

